{% load staticfiles %}
<!DOCTYPE html>
<html lang="{% block html_language_code %}en{% endblock %}">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% block description %}{{ site_options.site_description }}{% endblock %}" />
    <meta name="author" content="{% block author %}author{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}keywords{% endblock %}" />

    <link rel="icon" sizes="192x192" href="{% block icon %}{% endblock %}" />

    <title>{% block title %}{{ site_options.site_name|title }}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static site_options.theme|add:'/static/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static site_options.theme|add:'/static/css/font-awesome/css/font-awesome.min.css' %}">
    {% block before_style %}{% endblock %}
    <link rel="stylesheet" href="{% static site_options.theme|add:'/static/css/style.css' %}" />
    {% block custom_css %}
    {% endblock custom_css %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head_extra %}{% endblock %}
</head>

<body id="{% block body_id %}nutart{% endblock %}" class="{% block body_class %}{% endblock %}">

    {% block header %}
    <div id="header">
        <div class="container-fluid" id="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        header top
                    </div>
                    <div class="col-sm-3">
                        <ul class='nav navbar-nav'>
                            <li>
                                <a href="{% url 'nutcms:login' %}">Login</a>
                            </li>
                            <li>
                                <a href="{% url 'nutcms:register' %}">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="header-mid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h1><a href="{% url 'nutcms:index' %}">{{ site_options.site_name|title }}</a></h1>
                    </div>
                    <div class="col-sm-9 hidden-xs">
                        ad here
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default container-fluid" id="header-bottom" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#navbar-header-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-search pull-right">
                        <form role="search" method="get" class="search-form" action="<?php echo esc_url( home_url( '/' ) ); ?>">
                            <input type="search" class="search-field" placeholder="Search Movies..." value name="s" title="Search for">
                            <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="navbar-header-collapse">
                    <ul class="nav navbar-nav">
                        {% block navbar_header_collapse %}
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        {% endblock navbar_header_collapse %}
                    </ul>

                </div>
            </nav>
        </div>
    </div>
    {% endblock header %}

    {% block main_before %}{% endblock main_before %}

    <!-- Page Content -->
    <div class="container" id="main">

        {% block main_top %}{% endblock main_top %}

        <div class="row">
            <div class="col-md-9 col-sm-12">
                {% block main %}{% endblock main %}
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                {% block siderbar %}<p>Sider Bar</p>{% endblock siderbar %}
            </div>
        </div>
        <!-- /.row -->

        {% block main_bottom %}{% endblock main_bottom %}

    </div>
    <!-- /.container -->

    {% block main_after %}{% endblock main_after %}

    <!-- Footer -->
    <div class ="container" id="footer">
        <div id="footer1" class="row">
            <div class="col-xs-12 col-sm-9">
                    <div class="row footer-item feature-list">
                        <div class="col-sm-4"><i class="fa fa-star"></i>All is Free!
                        </div>
                        <div class="col-sm-4"><i class="fa fa-star"></i>Multi Streaming Servers!
                        </div>
                        <div class="col-sm-4"><i class="fa fa-star"></i>Biggest Jav Streaming Engine!
                        </div>
                        <div class="col-sm-4"><i class="fa fa-star"></i>Update Daily!
                        </div>
                        <div class="col-sm-4"><i class="fa fa-star"></i>Featuring Top AV Idols!
                        </div>
                        <div class="col-sm-4"><i class="fa fa-star"></i>Mobile Access Anywhere!
                        </div>
                    </div>
                    <div class="footer-item footer-disclaimer">
                        <p>All clips are collected from outside sources. No videos are hosted on this server. javpin.com is not liable for copyright by any country. The javpin.com Team is gathering and sorting jav movies from other websites every day. It's all here and 100% free porn. Best view with Internet Explorer 7+/FireFox/Google Chrome, Flash Player, 1024x768 dimension.</p>
                    </div>
                    <div class="footer-item follow-list">

                    </div>
                </div>
            <div class="col-sm-3 hidden-xs">
                <div class="footer-item">
                    <!--<img src="https://chart.googleapis.com/chart?chs=240x240&chld=L|1&cht=qr&chl=http://javpin.com&choe=UTF-8" alt="QR code for this page" class="qr-code">-->
                </div>
                <div class="footer-item">
                    <p>View this page on your mobile device. Compatible with Android, iOS and others.</p>
                </div>
            </div>
        </div>
        <div id="footer2" class="row">
            <div class="col-lg-12 text-center">
                <ol class="breadcrumb">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ol>
                <small>Copyright since 2016 - Javpin.com - All Rights Reserved.</small>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
    <script src="{% static site_options.theme|add:'/static/js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
    <script src="{% static site_options.theme|add:'/static/js/bootstrap.min.js' %}"></script>

    {% block body_extra %}{% endblock body_extra %}

</body>
</html>